.header{
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    background:linear-gradient(to left,#171d25, #171d25);
    border-radius: 5px;
    position: sticky;
    top: 0;
   
}
.left-section{
    background:linear-gradient(to right, #2a475e, #171d25);
    border-radius: 3px;
    width:300px;
    display: flex;
    align-items: center;
}
.logo{
    margin-right:30px;
}
.logo-name{
    font-family: Roboto, Arial;
    font-size: 25px;
    font-style:italic;
}
.middle-section{
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1000px;
    display: flex;
    align-items: center;
}
.search-button{
    height: 39px;
    width: 60px;
    background-color: #66c0f4;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-left: -1px;
}
.search-button:hover{
    box-shadow: 0px 2px 3px #2a475e;
    opacity: 0.6;
}
.search-icon{
    height: 20px;
    margin-top: 4px;
}
.search-bar{
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.10);
    background-color: #2a475e;
}
input.search-bar{
    color:#66c0f4 ;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 17px;
    font-style: italic;
    color: #66c0f4;
}

.right-section{
    display: flex;
    align-items: center;
}
.home-button{
    height: 50px;
    width: 90px;
    background-color: #1b2838;
    border-radius: 10px;
    margin-left: 140px;
}
.home-button:hover{
    box-shadow: 3px 4px 3px grey;
    background-color: #1b2838;
    opacity: 0.7;
}
.home-icon{
    height: 30px;
}
.profile-button{
    height: 50px;
    width: 90px;
    background-color: #1b2838;
    border-radius: 10px;
    margin-left: 70px;
}
.profile-button:hover{
    box-shadow: 3px 4px 3px grey;
    background-color: #1b2838;
    opacity: 0.7;
}
.profile-icon{
    height: 30px;
}