body {
    margin: 0px;
    font-size: 1.2rem;
    font-family: "Exo 2", sans-serif;
    background-image: url("./resources/painted_plaster_wall_ao_1k.jpg");
}

.sticky-navbar {
    padding: 10px;
    top: 0;
    position:-webkit-sticky;
    position: sticky;
    background-color: lightblue;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    width: 100%;
}

.account-details {
    border: 2px solid red;
    min-width: 20%;
    min-height: 70vh;
    max-width: 20%;
    padding: 0rem 1rem;
}

.account-settings {
    border: 2px solid blue;
    min-width: 50%;
    min-height: 100vh;
    padding: 0rem 1rem;
}

.detail-title {
    text-align: center;
}

.pfp-container {
    margin: 2rem;
}

.pfp {
    border-radius: 100%;
    width: 100%;
}