<!DOCTYPE html>
<html>
    <head>
        <title>Checkout</title>
        <link rel="icon" type="image/x-icon" href="/resources/steak_logo_plain.svg">
        <link href="/css/checkout.css" rel="stylesheet" type="text/css" />
        <link href="/css/nav.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <script src="/js/checkout.js"></script>
    </head>
    <body>
        <nav class="sticky-navbar">
            <a href="/">
                <div class="nav-title">
                    <img class="nav-logo" src="/resources/steak_logo_plain.svg">
                    <h1>STEAK</h1>
                </div>
            </a>
            <div class="search">
                <input class="search-bar" id="searchBar" type="text" placeholder="Search...">
                <button class="search-button nav-btn" id="searchBtn" type="button">
                    Search
                </button>
            </div>
            
            <div class="account-options">
                <a href="/checkout"><button class="nav-btn" id="cartBtn">Cart: 0</button></a>
                <a href="/profile"><button class="nav-btn">Account</button></a>
            </div>
        </nav>
        <div class="body-container">
            <section class="section-box" id="cart">
                <div class="section-header">
                    <h2 class="section-title">Cart</h2>
                </div>
                <div class="error-box" id="loginErrorMessage"><p>Error: email is invalid.</p></div>
                
                <div id="cartList">
                    <template id="gameTemplate">
                        <div class="game-card">
                            <img class="game-img" src="/resources/T8H-thumbnail-small.gif">
                            <div class="game-info">
                                <h3 class="game-name">The 8th Hour</h3>
                                <p class="game-price">$7.99</p>
                            </div>
                            <div class="remove-container">
                                <button class="remove-btn">Remove from cart</button>
                            </div>
                        </div>
                    </template>
                </div>
            </section>
            <section class="section-box checkout">
                <div class="section-header">
                    <h2 class="section-title">Checkout</h2>
                </div>
                <div class="error-box" id="signupErrorMessage"><p>Error: email is invalid.</p></div>
                <div class="success-box" id="signupSuccessMessage"><p>Registration successful! Please log in.</p></div>
                <form class="section-content" id="signupForm">
                    <div class="input-field">
                        <p>Card Number:</p>
                        <input type="number" id="cardNumber" required autocomplete="off">
                    </div>
                    <div class="input-field">
                        <p>Cardholder Name:</p>
                        <input type="text" id="cardholderName" required autocomplete="off">
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <p>Expiry Month/Year</p>
                            <input type="month" id="expiryMonth" required autocomplete="off">
                        </div>
                        <div class="input-field">
                            <p>CVC/CVV</p>
                            <input type="number" id="cvv" required autocomplete="off">
                        </div>
                    </div>
                    <hr>
                    <div id="totalRow">
                        <h3>Total:</h3>
                        <p id="totalPrice">$7.99</p>
                    </div>
                    
                    <button type="button" class="submit-btn" id="payBtn">Confirm Payment</button>
                </form>
            </section>
        </div>
        <footer>

        </footer>
    </body>
</html>