<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link href="/css/home.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="/js/home.js"></script>
    </head>
    <body>
        <nav class="sticky-navbar">
            <div class="title">
                <h1>E-commerce</h1>
            </div>
            <div class="search">
                <input class="search-bar" type="text" placeholder="Search...">
                <button class="search-button nav-btn" type="button">
                    Search
                </button>
            </div>
            
            <div class="account-options">
                <a href="/checkout"><button class="nav-btn" id="cartBtn">Cart: 0</button></a>
                <a href="/profile"><button class="nav-btn">Account</button></a>
            </div>
        </nav>
        <section class="hero-banner"></section>
        <div class="body-container">
            <section class="section-box">
                <div class="section-header">
                    <h2 class="section-title">Games</h2>
                </div>
                <div class="section-content">
                    <div class="game-grid">
                        <!-- Game card template -->
                        <template id="gameTemplate">
                            <div class="game-card">
                                <p class="game-status">In Cart</p>
                                <img class="game-img" src="/resources/T8H-thumbnail-small.gif">
                                <div class="game-info">
                                    <h3 class="game-name">The 8th Hour</h3>
                                    <div class="buy-row">
                                        <p class="game-price">$7.99</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!-- End game card template -->
                    </div>
                </div>
            </section>
        </div>
        <footer>

        </footer>
    </body>
</html>