<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Steak</title>
        <link rel="icon" type="image/x-icon" href="/resources/steak_logo_plain.svg">
        <link href="/css/home.css" rel="stylesheet" type="text/css" />
        <link href="/css/nav.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <script src="/js/home.js"></script>
    </head>
    <body>
        <nav class="sticky-navbar">
            <a href="/">
                <div class="nav-title">
                    <img class="nav-logo" src="/resources/steak_logo_plain.svg">
                    <h1>STEAK</h1>
                </div>
            </a>
            <div class="search">
                <input class="search-bar" id="searchBar" type="text" placeholder="Search...">
                <button class="search-button nav-btn" id="searchBtn" type="button">
                    Search
                </button>
            </div>
            
            <div class="account-options">
                <a href="/checkout"><button class="nav-btn" id="cartBtn">Cart: 0</button></a>
                <a href="/profile"><button class="nav-btn">Account</button></a>
            </div>
        </nav>
        <section class="hero-banner"></section>
        <div class="body-container">
            <section class="section-box">
                <div class="section-header">
                    <h2 class="section-title">Games</h2>
                </div>
                <div class="section-content">
                    <div class="game-grid">
                        <!-- Game card template -->
                        <template id="gameTemplate">
                            <div class="game-card">
                                <p class="game-status">In Cart</p>
                                <a class="game-link"><img class="game-img" src="/resources/T8H-thumbnail-small.gif"></a>
                                <div class="game-info">
                                    <a class="game-link"><h3 class="game-name">The 8th Hour</h3></a>
                                    <div class="buy-row">
                                        <p class="game-price">$7.99</p>
                                        <button class="buy-btn">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!-- End game card template -->
                    </div>
                </div>
            </section>
        </div>
        <footer>

        </footer>
    </body>
</html>