<!DOCTYPE html>
<html>
    <head>
        <title>Product</title>
        <link rel="icon" type="image/x-icon" href="/resources/steak_logo_plain.svg">

        <meta name="title" content="Steak Store">
        <meta name="description" content="Steak is the ultimate destination for playing games.">
        <meta property="og:image" content="/resources/hero_preview.png">
        <meta name="twitter:image" content="/resources/hero_preview.png">
        
        <link href="/css/product.css" rel="stylesheet" type="text/css" />
        <link href="/css/nav.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <script src="/js/product.js"></script>
    </head>
    <body>
        <nav class="sticky-navbar">
            <a href="/">
                <div class="nav-title">
                    <img class="nav-logo" src="/resources/steak_logo_plain.svg">
                    <h1>STEAK</h1>
                </div>
            </a>
            <div class="search">
                <input class="search-bar" id="searchBar" type="text" placeholder="Search...">
                <button class="search-button nav-btn" id="searchBtn" type="button">
                    Search
                </button>
            </div>
            
            <div class="account-options">
                <a href="/checkout"><button class="nav-btn" id="cartBtn">Cart: 0</button></a>
                <a href="/profile"><button class="nav-btn">Account</button></a>
            </div>
        </nav>
        <div class="body-container">
            <!-- <% if (game) { %>
                <section class="section-box">
                    <div class="section-header">
                        <h2><%= game.name %></h2>
                    </div>
                    <div class="section-content">
                        <div class="overview-row">
                            <img class="game-img" src="../public/resources/T8H-thumbnail-small.gif">
                            <div class="game-info">
                                <h3></h3>
                            </div>
                        </div>
                    </div>
                </section>
            <% } %> -->
            [/ if (game) { /]
                <section class="section-box">
                    <div class="section-header">
                        <h2 class="section-title">Game</h2>
                    </div>
                    <div class="section-content">
                        <div class="overview-row">
                            <p class="game-status">In Cart</p>
                            <div class="img-container">
                                <img class="game-img" src=[/= game.img /]>
                            </div>
                            <div class="game-info">
                                <div class="basic-info">
                                    <h3>[/= game.name /]</h3>
                                    <p class="developer">By: [/= game.developer /]</p>
                                    <p class="published">Published: [/= game.date_published /]</p>
                                    <p class="genres">Genres: [/= game.genre /]</p>
                                </div>
                                <div class="description-container">
                                    <h4>Description</h4>
                                    <p class="description">[/= game.desc /]</p>
                                </div>
                                <div class="buy-info">
                                    <p class="game-price">$[/= game.price /]</p>
                                    <button class="buy-btn">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <script>
                    var game_id = [/= game.id /];
                </script>
            [/ } /]
        </div>
        <footer>

        </footer>
    </body>
</html>