body {
    margin: 0px;
    font-size: 1.5rem;
    font-family: "Exo 2", sans-serif;
    background-color: #1b2838;
    color: #ffffff;
}

.body-container {
    margin: 2rem 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    width: 100%;
}

.section-box {
    background-color: #16202d;
    width: 60%;
    min-width: 330px;
    max-width: 1800px;
}

.section-header {
    padding: 1rem;
    background-color: #223d5a;
}

.section-header > h2 {
    margin: 0;
}

.section-content {
    padding: 1rem 1rem;
}

.section-title {
    text-align: center;
}

.overview-row {
    display: flex;
    justify-content: space-between;
}

.game-status {
    display: none;
    position: absolute;
    width: 10%;
    margin: 0px;
    background-color: rgba(17, 98, 218, 0.794);
    border-bottom-right-radius: 1rem;
    text-align: center;
}

.img-container {
    width: 100%;
    height: 100%;
    min-width: 50%;
}

.game-img {
    height: auto;
    width: 100%;
    aspect-ratio: 160/127;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}

.basic-info {
    text-align: center;
}

.game-name {
    margin: 0;
}

.buy-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

@keyframes buy-lighten {
    from {
        filter: brightness(100%);
        box-shadow: none;
    }
    to {
        filter: brightness(130%);
        box-shadow: 0 0 10px white;
    }
}

.buy-btn {
    color: black;
    font-size: 1.5rem;
    height: 4rem;
    width: 10rem;
    background: linear-gradient(to right, #4fc82f 0%, #19b14e 50%);
    border: none;
    border-radius: 2px;
    filter: brightness(120%);
    box-shadow: 0 0 1px white;
}

.buy-btn:hover:enabled {
    filter: brightness(130%);
    box-shadow: 0 0 10px white;
    animation: 150ms buy-lighten ease-out;
}

.buy-btn:active:enabled {
    filter: brightness(75%);
    box-shadow: 0 0 1px white;
}

.buy-btn:disabled {
    filter: brightness(50%);
}

.submit-btn {
    display: block;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 0.5rem 0px;
    font-size: 1.5rem;
    color: #ffffff;
    border: none;
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    background-position: 25%;
    background-size: 330% 100%;
    width: 10rem;
}

@keyframes lighten {
    from {
        filter: brightness(100%);
        box-shadow: none;
    }
    to {
        filter: brightness(130%);
        box-shadow: 5px 5px 5px black;
    }
}

.submit-btn:hover, .remove-btn:hover {
    filter: brightness(120%);
    box-shadow: 5px 5px 5px black;
    animation: 150ms lighten ease-out;
}

.submit-btn:active, .remove-btn:active {
    filter: brightness(75%);
    box-shadow: 1px 1px 5px black;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}